h1{
    color: brown;
    background-color:aqua ;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 3px black solid;
}
.h2{
    color: brown;
}
.h3{
    color: brown;
}
.p1{
    color: blue;
    margin-right: 30%;
    background-color: antiquewhite;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.p2{
    color: blue;
    padding-right: 30%;
    background-color: antiquewhite;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
} 
